


body{
  background-color: #3e879f;
}


.App-header {
  display:flex;
  margin-bottom:20px;
  align-items:center;
  justify-content: space-between;
}
.app_stats{
  display:flex;
  justify-content:space-between;
  
  

}
.app_left{
  flex:0.9;
}
.App{
  display:flex;
  margin:10px;
  justify-content:space-evenly;
  padding:10px;
}
@media(max-width:660px){
  .App{
    flex-direction: column;
  }
}