.table{
    margin:10px;
    overflow:scroll;
    height:400px; /*height u have to give for overflow*/
    color:#6a5d5d;
}

.table tr{
    display:flex;

    justify-content: space-between;
}
.table td{
    padding:0.5rem;
}

.table tr:nth-of-type(odd){ /*nth row which is of odd type"*/
    background-color: #f3f2f8;

}